<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Helizonaldo Morais">	
		<meta name="keywords" content="teleprompter,TV,Helizonaldo">
		<meta name="description" content="Teleprompter" />
		<meta name="robots" content="noindex" />	

		{% block head %}

            <link data-react-helmet="true" rel="shortcut icon" href="favicon.svg">
			<title>{% block title %}Teleprompter{% endblock %}</title>
		{% endblock %}
	</head>

<body>


	{% block content %}	
    
    <div id="root">
		404
	</div>

	{% endblock content %}
	
	{% block script %}
    <!--
	<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>	
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
    -->
	{% endblock script %}

</body>
</html>
